<div class="row" style="background-color: lightgrey;min-height: 100%;height: 100%;">
  <div class="col-md-6">
    <div class="row">
      <div class="col-lg-12">
        <div class="white-section">
          <div style="margin:auto; width:80%" class="form-margin">
            <div class="row">
              <div class="col">
                <h5 class="text-center">Match Group Ekle</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-9">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">İsim</span>
                  </div>
                  <input type="text" [(ngModel)]="groupName" class="form-control" aria-label="Default"
                    aria-describedby="inputGroup-sizing-default" />
                </div>
              </div>
              <div class="col-lg-3">
                <button type="button" class="btn btn-outline-secondary btn-form-ekle" (click)="addGroup()">
                  Ekle
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="list-group" *ngFor="let item of matchingGroups">
                  <a href="#" class="list-group-item list-group-item-action" [ngClass]="{'active': item.selected}"
                    (click)="selectItem(item.matchingGroupId)">{{item.description}}</a>
                    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="white-section">
      <div style="margin:auto; width:80%" class="form-margin">
        <div class="row">
          <div class="col">
            <h5 class="text-center">Yeni Kural Ekle</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <select class="form-control mt-2" data-width="100%" [(ngModel)]="selectedFirstPlanetId">
                <option [ngValue]="null">1. Gezegen</option>
              <option [value]="item.id"  *ngFor="let item of planets">{{item.description}}</option>
            </select>
          </div>
          <div class="col-lg-6">
   
              <select class="form-control mt-2" data-width="100%" [(ngModel)]="selectedSecondPlanetId">
                <option [value]="item.id" *ngFor="let item of planets">{{item.description}}</option>
                </select>
          </div>
        </div>
        <div class="row  mt-4">
          <div class="col-lg-6">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Açı</span>
              </div>
              <input [(ngModel)]="angle"  type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Tolerans</span>
              </div>
              <input [(ngModel)]="tolerance"  type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button (click)="addMatchingRule()" type="button" class="btn btn-secondary btn-block btn-kaydet">Kaydet</button>
          </div>
        </div>
        <div class="table table-striped">
          <div class="row">
            <table border=1>
              <tr border=1>
                <th>RuleId</th>
                <th>MatchingGroupId</th>
                <th>PrimaryPlanetId</th>
                <th>SecondaryPlanetId</th>
                <th>Angle</th>
                <th>Tolerance</th>
              </tr>
              <tr *ngFor="let item of matchingRules">
                <td>{{item.ruleId}}
                </td>
                <td>{{getmatchingGroupNameById(item.matchingGroupId)}}
                </td>
                <td>{{getPlanetNameById(item.primaryPlanetId)}}</td>
                <td>{{getPlanetNameBySecondyId(item.secondaryPlanetId)}}</td>
                <td>{{item.angle}}</td>
                <td>{{item.tolerance}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>