<div class="row">
    <div class="col">
      <h5 class="text-center">Kural Ekle</h5>
    </div>
  </div>
  <!-- end row -->
  <div class="row">
    <div class="col-lg-6 form-group">
      <select
        class="selectpicker mt-2"
        title="1. Gezegen"
        data-width="100%"
      >
        <option>Dünya</option>
        <option>Mars</option>
        <option>Venus</option>
      </select>
    </div>
    <div class="col-lg-6">
      <select
        class="selectpicker mt-2"
        title="2. Gezegen"
        data-width="100%"
      >
        <option>Dünya</option>
        <option>Mars</option>
        <option>Venus</option>
      </select>
    </div>
  </div>
  <!-- end row -->
  <div class="row  mt-4">
    <div class="col-lg-6">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Açı</span
          >
        </div>
        <input
          type="text"
          class="form-control"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>
    </div>
    <div class="col-lg-6">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Tolerans</span
          >
        </div>
        <input
          type="text"
          class="form-control"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>
    </div>
  </div>
  <!-- end row -->

  <div class="row">
    <div class="col">
      <button
        type="button"
        class="btn btn-secondary btn-block btn-kaydet"
      >
        Kaydet
      </button>
    </div>
  </div>