  <div class="row">
    <div class="col-lg-9">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span
            class="input-group-text"
            id="inputGroup-sizing-default">İsim</span
          >
        </div>
        <input type="text" [(ngModel)]="groupName" 
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default" />
      </div>
    </div>
    <div class="col-lg-3">
      <button
        type="button"
        class="btn btn-outline-secondary btn-form-ekle"
      (click)="addGroup()"
      >
        Ekle
      </button>
    </div>
  </div>